name: Ci

on:
  push:
    branches: main
  pull_request:
    branches: main

jobs:
  lint:
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]

    steps:
      - name: checkout
        uses: actions/checkout@v3
   
      - name: Setup Neovim
        uses: rhysd/action-setup-vim@v1
        id: vim
        with:
          neovim: true
          version: nightly

      - name: luajit
        uses: leafo/gh-actions-lua@v10
        with:
          luaVersion: "luajit-openresty"

      - name: luarocks
        uses: leafo/gh-actions-luarocks@v5

      - name: Install dependencies
        shell: bash
        run: |
          luarocks install luacheck --only-server https://raw.githubusercontent.com/rocks-moonscript-org/moonrocks-mirror/daab2726276e3282dc347b89a42a5107c3500567

      - name: run linter
        run: |
          luacheck lua/sigma_picker --only errors 
